{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="display-4">Arduino Beginner Tutorials</h1>
        <p class="lead">Start Working with Arduinos in this video series led by Henry Gilbert</p>
        </div>
      <div class="col-2">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Excel_Python_Overlay.png" class='img-fluid' alt="Automate Python Excel Logo">
      </div>
    </div>
  </div>
</div>
<!---- Start Tutorial Videos --->
<!---- Begin: DataFrames Section --->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Arduino Hello World" src="https://youtu.be/GhkgXspXD7k" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'arduino_hello_world' %}"><h5 class="mt-0">Hello World!</h5></a>
          The very first video of the arduino series. Hello World! Let's get started talking about Arduinos and how to make our first circuit.
      </div>
    </div>
  </div>
</div>
<br>

<!---- END: Tutorial Videos  --->
</div>
{% endblock %}
