{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="display-4">Excel Automation with Python Tutorials</h1>
        <p class="lead">We spend so much time working with excel. Why not create some automation techniques to help improve our daily lives?</p>
        </div>
      <div class="col-2">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Excel_Python_Overlay.png" class='img-fluid' alt="Automate Python Excel Logo">
      </div>
    </div>
  </div>
</div>
<!---- Start Tutorial Videos --->
<!---- Begin: DataFrames Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Data Calculations" src="https://www.youtube.com/embed/ZRwiMcGUf-Y" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'automate_excel_calculations' %}"><h5 class="mt-0">Automate Python Excel Calculations</h5></a>
          In this video we'll start off with discussing how we can use numpy to build up our python scripts to programatically do calculations.
      </div>
    </div>
  </div>
</div>
<br>

<!---- END: Tutorial Videos  --->
{% endblock %}
