{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="display-4">NumPy Tutorials</h1>
        <p class="lead">NumPy is one of the first packages any python developer learns. NumPy by itself is useful for linear algebra and matrix computations. NumPy has been integrated into several other packages due to its usefulness in working with data structures.</p>
        </div>
      <div class="col-2">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Numpy_Vector.png" class='img-fluid' alt="NumPy Logo">
      </div>
    </div>
  </div>
</div>









<!---- END: Tutorial Videos  --->
{% endblock %}
