{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="display-4">NumPy Tutorials</h1>
        <p class="lead">NumPy is one of the first packages any python developer learns. NumPy by itself is useful for linear algebra and matrix computations. NumPy has been integrated into several other packages due to its usefulness in working with data structures.</p>
        </div>
      <div class="col-2">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Numpy_Vector.png" class='img-fluid' alt="NumPy Logo">
      </div>
    </div>
  </div>
</div>
<!---- Start Tutorial Videos --->
<!---- Begin: DataFrames Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="NumPy Arrays & Data Types" src="https://www.youtube.com/embed/6znKTzhZ3FA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'numpy_arrays' %}"><h5 class="mt-0">NumPy Arrays & Data Types</h5></a>
          NumPy Arrays are the building blocks of the entire NumPY package. It's important that we get the concepts down included in this video.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Indexing Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="NumPy Indexing" src="https://www.youtube.com/embed/VUUNlLHS0z4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'numpy_indexing' %}"><h5 class="mt-0">NumPy Indexing</h5></a>
          Indexing gives us the ability to pull out specific data from our NumPy arrays. Through indexing we're able to perform computations only on selected data, add selected data to other data structures, or change values in an array.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- END: Tutorial Videos  --->
{% endblock %}
