{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="display-4">Pandas Tutorials</h1>
        <p class="lead">Ready to start working with pandas? A great, versatile python package useful in working with data structures is the heart of pandas.</p>
        </div>
      <div class="col-2">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Pandas_logo_Custom_Vector.png" class='img-fluid' alt="Pandas Logo">
      </div>
    </div>
  </div>
</div>

<!---- Begin: DataFrames Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Pandas Dataframes" src="https://www.youtube.com/embed/dtuKSYpdcFc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'pandas_dataframes' %}"><h5 class="mt-0">Pandas DataFrames</h5></a>
          Pandas Dataframes are one of the most powerful data structures. Pandas gives us the ability to replace excel sheets with dataframes and increase our ability to manipulate and analyze data.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--- Pandas Selecting Data Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Pandas Selecting Data" src="https://www.youtube.com/embed/IEDJu91bf0U" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'pandas_select_data' %}"><h5 class="mt-0">Pandas Selecting Data</h5></a>
          In this video, we'll talk about how we can begin pulling data out of our pandas data structure objects. We'll look at how to do it through labels and also by integer position.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--- Pandas Multi Index Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Pandas Multi Index" src="https://www.youtube.com/embed/FRgwn54vXKQ" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'pandas_multiindex' %}"><h5 class="mt-0">Pandas MultiIndex</h5></a>
          In this video we'll cover dataframes which have multiple index identifiers.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--- Pandas concat Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Pandas Concatenation" src="https://www.youtube.com/embed/vGqpY2_XWIo" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'pandas_concat' %}"><h5 class="mt-0">Pandas Concatenation</h5></a>
          In this video we'll cover how we can start joining dataframes and series data structure objects together using the pandas concat() function 
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
