{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-4">Python Beginner Tutorials</h1>
        <p class="lead">Python, an object-oriented programming language is known for its versatility and availability. If you're looking to pick up a programming language quickly for prototyping and full scale development python is the way to go</p>
        </div>
      <div class="col-4">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/python.png" class='img-fluid' alt="Python Logo">
      </div>
    </div>
  </div>
</div>

<!---- Begin: Why Learn Python Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Why Learn Python" src="https://www.youtube.com/embed/zJ8ZsPI9vgg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'why_learn_python' %}"><h5 class="mt-0">Why Learn Python</h5></a>
          Python is one of the fastest growing programming languages today. With the ability to make concepts into prototypes very quickly, Python is a great first programming language to learn. There's a large community supporting Python too, ensuring it will be valuable for a long time.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Python Syntax Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Syntax" src="https://www.youtube.com/embed/XIJq8odelLw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_syntax' %}"><h5 class="mt-0">Let's Learn: Python Syntax</h5></a>
        Let's start off with the syntax of python!
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Python Variables & dtypes Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Variables and Data Types" src="https://www.youtube.com/embed/bc4b8RqtW8k" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_variables_dtypes' %}"><h5 class="mt-0">Let's Learn: Python Variables and Data Types</h5></a>
            Let's continue on with Python Variables and syntax
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Composite Data Types Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Composite Data Types" src="https://www.youtube.com/embed/b5zOfLiabWI" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_composite_dtypes' %}"><h5 class="mt-0">Let's Learn: Python Composite Data Types</h5></a>
            Let's continue on with a follow up on data type objects - composite data types!
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Python Strings Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Strings" src="https://www.youtube.com/embed/O1VGBZ6wvPI" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_strings' %}"><h5 class="mt-0">Let's Learn: Python Strings</h5></a>
            Let's talk about python strings.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Python Numbers Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Numbers" src="https://www.youtube.com/embed/HraodvyUjkU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_numbers' %}"><h5 class="mt-0">Let's Learn: Python Numbers</h5></a>
            Let's talk about python numbers.
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!---- Begin: Python Lists Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Lists" src="https://www.youtube.com/embed/Qexx6ed_598" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_lists' %}"><h5 class="mt-0">Let's Learn: Python Lists</h5></a>
            Let's talk about python lists.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Python Tuples Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Tuples" src="https://www.youtube.com/embed/hloqiXe5bF0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_tuples' %}"><h5 class="mt-0">Let's Learn: Python Tuples</h5></a>
            Let's talk about python tuples.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Python Sets Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Sets" src="https://www.youtube.com/embed/_ReXOofL-c4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'why_learn_python' %}"><h5 class="mt-0">Let's Learn: Python Sets</h5></a>
            Let's talk about python sets.
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!---- Begin: Python Dictionaries Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python Dictionaries" src="https://www.youtube.com/embed/MGJGHni8Vm4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_dictionaries' %}"><h5 class="mt-0">Let's Learn: Python Dictionaries</h5></a>
            Let's talk about python dictionaries.
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Python If Statements Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python If Statements" src="https://www.youtube.com/embed/PddREbkO3xU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_if_statements' %}"><h5 class="mt-0">Let's Learn: Python If Statements</h5></a>
            Let's talk about python if statements.
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!---- Begin: Python While Loops Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python While Loops" src="https://www.youtube.com/embed/NRyFiuf7VnA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_while_loops' %}"><h5 class="mt-0">Let's Learn: Python While Loops</h5></a>
            Let's talk about python while loops.
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!---- Begin: Python For Loops Section --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Python For Loops" src="https://www.youtube.com/embed/TAObIFEdgrM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'python_for_loops' %}"><h5 class="mt-0">Let's Learn: Python For Loops</h5></a>
            Let's talk about python for loops.
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!---- END: Tutorial Videos  --->
{% endblock %}
