{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Python Tutorials</h1>
    <p class="lead">Python, an object-oriented programming language is known for its versatility and availability. If you're looking to pick up a programming language quickly for prototyping and full scale development, Python is the way to go</p>
  </div>
</div>
<!---- Begin: Why Learn Python Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item align-self-center mr-3" alt="Why Learn Python" width="448" height="252" src="https://www.youtube.com/embed/zJ8ZsPI9vgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          <div class="media-body">
            <a href="{% url 'why_learn_python' %}"><h5 class="mt-0">Why Learn Python</h5></a>
            Python is one of the fastest growing programming languages today. With the ability to make concepts into prototypes very quickly, Python is a great first programming language to learn. There's a large community supporting Python too, ensuring it will be valuable for a long time.
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Syntax Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Syntax" width="448" height="252" src="https://www.youtube.com/embed/XIJq8odelLw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Syntax</h5>
              Let's start off with the syntax of Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Variables & dtypes Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Variables & Datatypes" width="448" height="252" src="https://www.youtube.com/embed/bc4b8RqtW8k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Variables and Data Types</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Composite Data Types Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Composite Datatypes" width="448" height="252" src="https://www.youtube.com/embed/b5zOfLiabWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Composite Data Types</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Strings Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Strings" width="448" height="252" src="https://www.youtube.com/embed/O1VGBZ6wvPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Strings</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Numbers Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Numbers" width="448" height="252" src="https://www.youtube.com/embed/HraodvyUjkU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Numbers</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Lists Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Lists" width="448" height="252" src="https://www.youtube.com/embed/Qexx6ed_598" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Lists</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Tuples Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Lists" width="448" height="252" src="https://www.youtube.com/embed/hloqiXe5bF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Tuples</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Sets Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Sets" width="448" height="252" src="https://www.youtube.com/embed/_ReXOofL-c4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Sets</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python Dictionaries Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Dictionaries" width="448" height="252" src="https://www.youtube.com/embed/MGJGHni8Vm4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python Dictionaries</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python If Statements Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python Dictionaries" width="448" height="252" src="https://www.youtube.com/embed/PddREbkO3xU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python If Statements</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python While Loops Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python While Loops" width="448" height="252" src="https://www.youtube.com/embed/NRyFiuf7VnA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python While Loops</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!---- Begin: Python For Loops Section --->
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Python For Loops" width="448" height="252" src="https://www.youtube.com/embed/TAObIFEdgrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Let's Learn: Python For Loops</h5>
              Python
          </div>
        </div>
      </div>
    </div>
</div>
<!---- END: Tutorial Videos  --->
{% endblock %}
