{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="display-4">Requested Videos</h1>
        <p class="lead">In this section, we have a collection of requested videos from Youtube subscribers and Twitter followers. These are one off projects that aren't in any video collection.</p>
        </div>
      <div class="col-2">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Requests_Vector.png" class='img-fluid' alt="Requests Logo">
      </div>
    </div>
  </div>
</div>
<!---- Start Tutorial Videos --->
<!---- Begin: Real Time Stock Analysis --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Real Time Stock Market Analysis" src="https://www.youtube.com/embed/d2kXmWzfS0w" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'requests_real_time_stock_analysis' %}"><h5 class="mt-0">Real Time Stock Market Analysis</h5></a>
          In this video we will look at how we can get real time stock market data and use that stock market data to determine the volatility of the stock -- and send us an alert to act!
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!---- Begin: Cartesian Products --->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Cartesian Products" src="https://www.youtube.com/embed/d2kXmWzfS0w" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="media-body">
          <a href="{% url 'requests_cartesian_products' %}"><h5 class="mt-0">Cartesian Products</h5></a>
          In this video we'll cover how to create cartesian products in Python
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!---- END: Tutorial Videos  --->
{% endblock %}
