{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Code Tutorials </h1>
    <p class="lead">Programming tutorials focused on hands on projects and quick results</p>
  </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
      <div class="media">
        <iframe class="align-self-center mr-3" alt="Why Learn Python" width="448" height="252" src="https://www.youtube.com/embed/zJ8ZsPI9vgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="media-body">
          <h5 class="mt-0">Why Learn Python</h5>
          Python is one of the fastest growing programming languages today. With the ability to make concepts into prototypes very quickly, Python is a great first programming language to learn. There's a large community supporting Python too, ensuring it will be valuable for a long time.
        </div>
      </div>
    </div>
</div>

{% endblock %}
