{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1 class="display-4">Coffee Powered Coders</h1>
        <p class="lead">Simple projects to help you learn, quick bite size tutorials, for free.</p>
        </div>
      <div class="col-3">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/CPC_logo_Vector.png" class='img-fluid' alt="Welcome to CPC">
      </div>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="col-9">
        <div class="media">
          <iframe class="align-self-center mr-3" alt="Why Learn Python" width="448" height="252" src="https://www.youtube.com/embed/zJ8ZsPI9vgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="media-body">
            <h5 class="mt-0">Why Learn Python</h5>
            Python is one of the fastest growing programming languages today. With the ability to make concepts into prototypes very quickly, Python is a great first programming language to learn. There's a large community supporting Python too, ensuring it will be valuable for a long time.
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col">
            <p>Yes</p>
          </div>
          <div class="row">
            <div class="col">
              <p>It Works</p>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
{% endblock %}
