{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1 class="display-4">Coffee Powered Coders</h1>
        <p class="lead">Simple projects to help you learn, quick bite size tutorials, for free.</p>
        </div>
      <div class="col-3">
          <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/CPC_logo_Vector.png" class='img-fluid' alt="Welcome to CPC">
      </div>
    </div>
  </div>
</div>
<!--- python --->
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" alt="Why Learn Python" src="https://www.youtube.com/embed/zJ8ZsPI9vgg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 mx-auto">
        <h5>Why Learn Python</h5>
        Python is one of the fastest growing programming languages today. With the ability to make concepts into prototypes very quickly, Python is a great first programming language to learn. There's a large community supporting Python too, ensuring it will be valuable for a long time.
      </div>
      <div class="col-sm-2">
        <a href="{% url 'python_home' %}"><img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Python_Begin_BW.png" class='img-fluid home-image-python' alt="Welcome to CPC"></a>
      </div>
    </div>
</div>
<!--- NumPy --->
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" alt="Why Learn NumPy" src="https://www.youtube.com/embed/jVefVYRiUxs" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 mx-auto">
        <h5>Python Package: NumPy</h5>
        NumPy is a python packge which is super useful in linear algebra and matrix computations. We can use NumPy arrays to then build up larger data structures when using other packages. Knowing NumPy is a must.
      </div>
      <div class="col-sm-2">
        <a href="{% url 'numpy_home' %}"><img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Numpy_Begin_BW.png" class='img-fluid home-image-python' alt="Welcome to CPC"></a>
      </div>
    </div>
</div>
<!--- TensorFlow --->
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" alt="Why Learn TensorFlow" src="https://www.youtube.com/embed/2BusGJyn77E" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 mx-auto">
        <h5>Python Package: TensorFlow (For Machine Learning)</h5>
        TensorFlow is one of the most well known machine learning python packages. Capable of large scale operations, TensorFlow is a must for AI and predictive algorithms.
      </div>
      <div class="col-sm-2">
        <img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Tensorflow_Begin_BW.png" class='img-fluid home-image-python' alt="Begin Tensorflow Tutorials">
      </div>
    </div>
</div>

<!--- Pandas --->
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" alt="Why Learn Pandas" src="https://www.youtube.com/embed/dtuKSYpdcFc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 mx-auto">
        <h5>Python Package: Pandas</h5>
        Pandas is a powerful package which allows versatility and ease when dealing with different data structures. The most common of these data structures are pandas dataframes. Dataframes are similar to excel sheets and program most of the same functionality as excel, along with some added benefits of python.
      </div>
      <div class="col-sm-2">
        <a href="{% url 'pandas_home' %}"><img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Pandas_Begin_BW.png" class='img-fluid home-image-python' alt="Pandas Begin Tutorial"></a>
      </div>
    </div>
</div>
<!---- Requests --->
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" alt="Stock Market Analytics" src="https://www.youtube.com/embed/d2kXmWzfS0w" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 mx-auto">
        <h5>Python Request Projects</h5>
        I often take requests from <a href="https://www.youtube.com/channel/UCJHs6RO1CSM85e8jIMmCySw?sub_confirmation=1">Youtube Subscribers</a> and <a href="https://twitter.com/CodeWithDerrick">Twitter Followers</a>. These are those videos. Feel free to drop your own request too!
      </div>
      <div class="col-sm-2">
        <a href="{% url 'requests_home' %}"><img src="https://s3.amazonaws.com/coffee-powered-bucket/images/Requests_Vector.png" class='img-fluid home-image-python' alt="Pandas Begin Tutorial"></a>
      </div>
    </div>
</div>
{% endblock %}
