{% extends 'home/base.html' %}

{% block content %}
{% load static %}

<title>Real Time Stock Market Analysis</title>

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <h2 class="text-center">Real Time Stock Market Analysis with AlphaVantage</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Real Time Stock Market Analysis" src="https://www.youtube.com/embed/d2kXmWzfS0w" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--- First Example --->
  <br>
  <div class="row">
    <div class="col-sm-8">
      <h2>Loading Stock Market Data from Alpha Vantage API:</h2>
      <script src="https://gist.github.com/Derrick-Sherrill/30c4c5fe9d9f9ae5b0ad15b0597c0e42.js"></script>
    </div>
    <div class="col-sm-4">
      <h3>Loading real time stock market data: </h3>
      <ul>
        <li>First we'll need the API key from AlphaVantage to do this, head over to their home page and click "Get API Key"</li>
        <li>Once we have the key we need to pass that to the function to get it to work.</li>
        <li>We also have specified that we want the output data in the data structure of a pandas dataframe</li>
        <li>Then we use the get intraday function to pull intraday data from whichever stock we specify the ticker for.</li>
      </ul>
    </div>
  </div>
  <!--- Continue Example --->
  <br>
  <div class="row">
    <div class="col-sm-8">
      <h2>Saving Data in Real Time:</h2>
      <script src="https://gist.github.com/Derrick-Sherrill/1d3ae4b288049eeff5b9ea0cc8a79bb6.js"></script>
    <div class="col-sm-4">
      <h3>Saving data to excel file in real time:</h3>
      <ul>
        <li>This was the actual request of this video: How can we save stock market data to an excel spreadsheet in real time</li>
        <li>We can create an infinite loop to do this.</li>
        <li>Lastly, pandas already has a built in function to export dataframes to excel spreadsheets.</li>
      </ul>
    </div>
  </div>
  </div>
  <!--- Continue Example --->
  <br>
  <div class="row">
    <div class="col-sm-8">
      <h2>Analyze Data in Real Time:</h2>
<script src="https://gist.github.com/Derrick-Sherrill/35a454113a37adfc603c3373e69f6fd5.js"></script>
    <div class="col-sm-4">
      <h3>Real Time Data Analysis:</h3>
      <ul>
        <li>Here we're covering a basic example of how we can start doing operations on this data in real time</li>
        <li>In this example, we're looking for the volatility of the stock each given minute</li>
        <li>The video suggests we can create some type of alert to signal we should perform an action when a given thresehold is reached.</li>
      </ul>
    </div>
  </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <h2>The full code from this video:</h2>
    <script src="https://gist.github.com/Derrick-Sherrill/057f9569dc0fc37267ae26933accce64.js"></script>
</div>
</div>

<div class="row">
  <div class="col-sm-2">
    <img src="https://coffee-powered-bucket.s3.amazonaws.com/images/Pandas_Previous_Logo.png" class="img-fluid" alt="Pandas Previous Logo">
  </div>
  <div class="col-sm-8">
    <p class= 'text-center'> View this code on <a href="https://gist.github.com/Derrick-Sherrill/e88cb1da8fcc2ed0e42bc02ace9efe63">GitHub</a></p>
    <p class='text-center'>View the docs on this topic:  <a href="https://www.alphavantage.co/documentation/">Alpha Vantage</a> </p>
  </div>
  <div class="col-sm-2">
    <img src="https://coffee-powered-bucket.s3.amazonaws.com/images/Pandas_Next_Logo.png" class="img-fluid" alt="">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 class='text-center'>Project videos using this concept:</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">

  </div>
</div>


</div>


{% endblock %}
