{% extends 'home/base.html' %}

{% block content %}
{% load static %}

<title>Automate Excel Calculations with Python</title>

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <h2 class="text-center">Programatic Excel Calculations with Python</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Programatic Excel Calculations" src="https://www.youtube.com/embed/ZRwiMcGUf-Y" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--- First Example --->


<div class="row">
  <div class="col-sm-2">
    <img src="https://coffee-powered-bucket.s3.amazonaws.com/images/Pandas_Previous_Logo.png" class="img-fluid" alt="Pandas Previous Logo">
  </div>
  <div class="col-sm-8">
    <p class= 'text-center'> View this code on <a href="#">GitHub</a></p>
    <p class='text-center'>View the docs on this topic:  <a href="https://docs.scipy.org/doc/">NumPy & SciPy</a> </p>
  </div>
  <div class="col-sm-2">
    <img src="https://coffee-powered-bucket.s3.amazonaws.com/images/Pandas_Next_Logo.png" class="img-fluid" alt="">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 class='text-center'>Project videos using this concept:</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">

  </div>
</div>


</div>


{% endblock %}
