{% extends 'home/base.html' %}

{% block content %}

<title>Composite Data Types in Python Tutorial</title>

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <h2 class="text-center">Introduction to Composite Data Types</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="Composite Data Types in Python" src="https://www.youtube.com/embed/zgjtWxoVS6s" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- First Example --->
  <br>
  <div class="row">
    <div class="col-sm-8">
      <h2>Composite Data Types in Python:</h2>
      <script src="https://gist.github.com/Derrick-Sherrill/2e16a6a766ecb4f9f80452fa0e988bab.js"></script>
    </div>
    <div class="col-sm-4">
      <h3>The uses of different composite data types in python:</h3>
      <ul>
        <li>We have access to a couple different composite data sets, and we'll have separate pages for each of these. This is just a page to talk about them all briefly, together.</li>
        <li>A composite data sets purpose is to just hold a lot of different elements together using one variable. We have access to five different data types to do this.</li>
        <li>These data types include dictionaries, lists, sets, tuples, and frozensets. The difference among a few of these are mutability. (We'll discuss this more later, but mutable = changeable.)</li>
        <li>We can see how create each of these data types in python by referrencing the gist here.</li>
      </ul>
    </div>
  </div>

  <!--- End section --->
  <div class="row">
    <div class="col-sm-2">
      <a href="{% url 'python_variables_dtypes' %}"><img src="https://coffee-powered-bucket.s3.amazonaws.com/images/Pandas_Previous_Logo.png" class="img-fluid" alt="Pandas Previous Logo"></a>
    </div>
    <div class="col-sm-8">
      <p class= 'text-center'> View this code on <a href="https://github.com/Derrick-Sherrill/Coffee-Powered">GitHub</a></p>
      <p class='text-center'>View the docs on this topic:  <a href="https://docs.python.org/3/">Python Documentation</a> </p>
    </div>
    <div class="col-sm-2">
      <a href="{% url 'python_strings' %}"><img src="https://coffee-powered-bucket.s3.amazonaws.com/images/Pandas_Next_Logo.png" class="img-fluid" alt="Pandas Next Logo"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class='text-center'>Project videos using this concept:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
  </div>

</div>


{% endblock %}
