{% extends 'home/base.html' %}

{% block content %}

<div class="container-fluid">
<br>
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <div class="media">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" alt="NumPy Broadcasting" src="https://www.youtube.com/embed/5HY_jsbarpw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
        <h2 class="text-center">Pandas Concatenation</h2>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <script src="https://gist.github.com/Derrick-Sherrill/4a83e6b8583ea04ca82660a96f19ec36.js"></script>
</div>

</div>


{% endblock %}
